.elementBody{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:0px 10vw; */
    padding: 27px 23px;
    backdrop-filter: blur(6px); /* Adjust the blur radius as needed */
    background-color: rgba(87, 85, 85, 0.5);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.elementBody:hover{
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.4);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.elementLogo{
    height: 55px;
    margin-bottom: 4px;
}

.elementLabel{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(227, 227, 227);
}


.elementBox{
    margin: 30px 0px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
